$theBlackColor: #0D0D0D;
$theWhiteColor: #F2F2F2;
$theYellowColor: #F2CC0F;
$theGreenColor: #8CBF3F;
$thePurpleColor:#9453A6;

$thePattyFont: 'Pattay';
$theHeenyFont: 'Henny Penny';
$theRobotoFont: 'Roboto', sans-serif;


@keyframes hearth{
    0% {height: 20px;}
    100% {height: 100px;}
    100%{color: red;}
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#icon-img{
    width: 8vw;
    max-width: 100px;
    min-width: 70px;
    
}

#header{
    background-color: $theWhiteColor; 
    position: sticky;
    top: 0;
    z-index: 1000;
    
}

body #navv{
    background-color: $theWhiteColor !important;  
    max-width: 1000px;
    margin: 0 auto;
 }

 body .container-fluid{
    justify-content: center;
    
 }

#ul-to-nav-bar{
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
    margin: auto;
}
#ul-to-nav-bar li:hover #the-border-in-nav{
    transform: scale(1);
}
#ul-to-nav-bar li a{
     
    font-size: 30px;
    font-family: $thePattyFont;
    color: $thePurpleColor;
}


 #the-border-in-nav{
    position: relative;
    bottom: 10px;
    transform: scale(0);
    border-bottom: 3px $thePurpleColor solid;
    transform-origin: 100% 50% ;
    transition: all 0.5s;
   
}

.scrol-up{
    position: fixed;
    bottom:  10px;
    right: 10px;
    z-index: 100;
    background-color: white; 
    border-radius: 50%;
}

.titel-of-first-page{
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    background-color: $thePurpleColor;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $theWhiteColor;
}

.titel-of-first-page h1{
    margin-inline-start: 20px;
    font-family: $thePattyFont;
}

#hearth-icon-img-first-page{
    margin-inline-start: 10px;
    height: 20px;
    animation-name: hearth;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.some-abou-us-in-the-first-page {
    margin: 0 auto;
    max-width: 1000px;

}

.some-abou-us-in-the-first-page p{
    margin-block-start: 20px;
    font-size: 20px;
    font-family: $theRobotoFont;
}



#img-slider-fristpage-5 , #img-slider-fristpage-4 , #img-slider-fristpage-3 , #img-slider-fristpage-2,#img-slider-fristpage-1{
    height: 600px;
}


.carousel-item h1{
    text-align: center;
    margin-block: 20px;
}

.best-ball-kids-first-page{
    margin: 0 auto;
    max-width: 1000px;
}

.best-ball-kids-first-page h1{
    margin-block: 35px ;
    font-family: $thePattyFont;
    font-weight: bold;

}

.best-ball-kids-first-page p{
    font-family: $theRobotoFont;
    font-size: 20px;

}

.best-ball-kids-first-page img{
   margin: 10px;

}

.sbunsers-frist-page{
    margin: 0 auto;
    max-width: 1000px;
    background-color: 	rgb(169, 169, 169,0.10);
}

.sbunsers-frist-page > h3{
    margin-block: 40px;
    text-align: center;
}

.dimond-sbunser-page-one{
    display: flex;
    justify-content: center;
}



.sbunsers-frist-page h2{
    text-align: center;
    font-family: $thePattyFont;
    font-weight: bold;
    margin-inline-start: 25px;
}

.sbunsers-frist-page img{
    margin-inline-start: 20px;
}

.subeser-logo-dimond-logo-first-page{
    width: 100px;
}

.contner-dimond-sbunser-first-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


.gold-sbunser-page-one{
    margin-block-start: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gold-sbunser-page-one h3{
    font-size: 20px;
    margin-inline-start:25px ;
}

.gold-sbunser-page-one img{
    margin-block-end: 10px;
    width: 40px;
    height: 35px;
}


.the-gold-sbunser-page-one{
    margin-block-start: 20px;
    display: flex;
    justify-content: center;
}

.the-gold-sbunser-page-one div img{
    width: 70px;
    height: 60px;
}

footer{
    margin-top: 10px;
    background-color: $theBlackColor;
    color: $theWhiteColor;
}

.scohel-midia-icons{
   display: flex;
   justify-content: center;
   
}

.scohel-midia-icons div svg{
    color: $theWhiteColor;
    margin: 10px;
    cursor: pointer;
    
    
}

.scohel-midia-icons div svg:hover{
    color: $thePurpleColor;
}

.info-in-the-footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}


.titel-on-the-page-two{
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    background-color: $thePurpleColor;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $theWhiteColor;
}

.titel-on-the-page-two h2{
    font-size: $thePattyFont;
    font-size: 40px;
}


.the-rosh-aer{
    max-width: 1000px;
    margin: 0 auto;
}

.the-rosh-aer h3{
    color: $thePurpleColor;
    font-size: 40px;
    font-weight: bold;
    font-family: $thePattyFont;
}
.the-rosh-aer p{
    margin-block-start: 20px;
    font-family: $theRobotoFont;
    font-weight: bold;
    font-size: 20px;
}
.the-rosh-aer img{
    margin-block-start: 20px;
}



.adlat-page-two{
    max-width: 1000px;
    margin: 0 auto;
}

.adlat-page-two h3{
    margin-block-start: 50px;
    color: $thePurpleColor;
    font-size: 40px;
    font-weight: bold;
    font-family: $thePattyFont;
}

.adlat-page-two p{
    margin-block-start: 20px;
    font-family: $theRobotoFont;
    font-weight: bold;
    font-size: 20px;
}

.the-rosh-aer img{
    margin-block-start: 20px;
}


.cards-of-sbunsers-page-two{
    margin-block-start: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.cards2-of-sbunsers-page-two{
    margin-block-start: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.titel-on-the-page-three{
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 93%, 0 100%);
    background-color: $thePurpleColor;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $theWhiteColor;
}


.titel-on-the-page-three h3{
    font-size: $thePattyFont;
    font-size: 40px;
}

.midea{
    max-width: 1000px;
    margin: 0 auto;
}


.div-of-the-main-img{
    width: fit-content;
    position: relative;
    margin-block: 30px;
    margin: 0 auto; 
    display: flex;
    align-items: center;
}

#right{
    background-color: $theWhiteColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    right:10px;
    position: absolute;
    cursor: pointer;
}
#left{
    background-color: $theWhiteColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    left:10px;
    position: absolute;
    cursor: pointer;

}
#close{
    background-color: $theWhiteColor;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top: 0;
    position: absolute;
    cursor: pointer;
}

#mainImg{
    max-width: 70vw;
    max-height: 60vh;
    width: 550px;
    height: 450px;

}

.all-imgs-imgs-in-misea{
    margin-block-start: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imgs-in-midea{
    margin: 10px;
    width: 240px;
    height: 200px;
}






.videos-in-midea{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:  0 auto;
    justify-items: center;
}


.videos-in-midea h4{
  text-align: center;
    margin-block: 20px;
    font-family: $thePattyFont;
    font-size: 30px;
    font-weight: bold;
    color: #8CBF3F;
}

.videos-in-midea iframe{
    
    width: 400px;
    max-width: 70vw;
    max-height: 70vh;

}













@media only screen and (max-width: 1000px) and (min-width:550px) {
    #icon-img{
        width: 13vw;
    }
    #ul-to-nav-bar li{
        display: flex;
        justify-content: center;
    }

    .some-abou-us-in-the-first-page p{
        font-size: 20px;
        margin: 15px;
    }
    
    #img-slider-fristpage-5 , #img-slider-fristpage-4 , #img-slider-fristpage-3 , #img-slider-fristpage-2,#img-slider-fristpage-1{
        height: 400px;
    }

    #hearth-icon-img-first-page{
        margin-inline-end: 40px;
        padding: 10px;
     
    }

    .best-ball-kids-first-page h1{
        margin: 30px ;
    }
    
    .best-ball-kids-first-page p{
        margin: 30px;
        font-size: 20px;
    }

    .best-ball-kids-first-page div img{
        margin: 20px;
        width: 350px;
        height: 150px;
    }

    .sbunsers-frist-page h2{
    text-align: center;
    font-family: $thePattyFont;
    font-weight: bold;
    margin-inline-start: 25px;
    font-size: 30px;
    }

    .sbunsers-frist-page img{
        margin-inline-start: 20px;
    }

    .contner-dimond-sbunser-first-page{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }


    #dimond-logo-first-page{
        margin-block-start: 5px;
        margin-inline-start: 10px;
        width: 20px;
        height: 20px;
    }




    #subeser-logo-dimond-logo-first-page1{
        width: 80px;
        height: 80px;
        
    }


    #subeser-logo-dimond-logo-first-page2{
        width: 80px;
        height: 80px;
    }

    #subeser-logo-dimond-logo-first-page3{
        width: 80px;
        height: 40px;
    }


    .gold-sbunser-page-one h3{
        font-size: 23px;
    }
    
    
    
    .gold-sbunser-page-one img{
        
        width: 30px;
        height: 30px;
    }


    
    
    .the-gold-sbunser-page-one div img{
        width: 50px;
        height: 36px;
    }



    
    .the-rosh-aer h3{
        margin: 30px;
    }
    .the-rosh-aer p{
        font-size: 18px;
        margin: 30px;
    }
    .the-rosh-aer img{
        width: 200px;
        height: 150px;
        margin: 30px;
    }




    .adlat-page-two h3{
        margin: 30px;
    }
    
    .adlat-page-two p{
        font-size: 18px;
        margin: 30px;
    }
    
    .adlat-page-two img{
        width: 200px;
        height: 150px;
        margin: 30px;
    }

    #img-card-1 ,#img-card-2 ,#img-card-3{
        margin: 0 auto;
        width: 100px;
        height: auto;
    }

    #right{
        width: 40px;
        height: 40px;
    }
    #left{
        width: 40px;
        height: 40px;
        left:10px;
    }

    #close{
        width: 40px;
        height: 40px;
    }
    
    #mainImg{
        max-width: 70vw;
        max-height: 60vh;
        width: 400px;
        height: 350px;
    
    }
    
    
    .imgs-in-midea{
        margin: 10px;
        width: 200px;
        height: 150px;
    }
    
    
    

    .videos-in-midea{  
        grid-template-columns: 1fr 1fr;
    }
    
    
    .videos-in-midea h4{
      text-align: center;
        margin-block: 20px;
        font-family: $thePattyFont;
        font-size: 30px;
        font-weight: bold;
        color: #8CBF3F;
    }
    
    .videos-in-midea iframe{
        
        width: 250px;
        height: 200px;
        max-width: 70vw;
        max-height: 70vh;
    
    }
    








}
















@media (max-width:550px){
    #icon-img{
        width: 13vw;
    }
    .scrol-up{
        width: 30px;
        
    }

    #ul-to-nav-bar li{
        display: flex;
        justify-content: center;
    }

    .some-abou-us-in-the-first-page p{
        font-size: 15px;
        margin: 20px;
    }
    
    #img-slider-fristpage-5 , #img-slider-fristpage-4 , #img-slider-fristpage-3 , #img-slider-fristpage-2,#img-slider-fristpage-1{
        height: 250px;
    }

    #hearth-icon-img-first-page{
        margin-inline-start: 0px;
        padding: 10px;
        margin-inline-end: 40px;
     
    }

    .best-ball-kids-first-page h1{
        margin: 15px ;
    }
    
    .best-ball-kids-first-page p{
        margin: 15px;
        font-size: 15px;
    
    }

    .best-ball-kids-first-page div img{
        margin: 20px;
        width: 150px;
        height: 100px;
    }


    #dimond-logo-first-page{
        margin-block-start: 5px;
        margin-inline-start: 10px;
        width: 20px;
        height: 20px;
    }
    


    .sbunsers-frist-page h2{
        font-size: 20px;
    }

    

    #subeser-logo-dimond-logo-first-page1{
        width: 55px;
        height: 50px;
    }
    
    
    #subeser-logo-dimond-logo-first-page2{
        width: 55px;
        height: 50px;
    }
    
    #subeser-logo-dimond-logo-first-page3{
        width: 55px;
        height: 30px;
    }

    .gold-sbunser-page-one{
        margin-block-start: 20px;
    }
    
    .gold-sbunser-page-one h3{
        font-size: 15px;
        margin-inline-start:35px ;
    }
    
    .gold-sbunser-page-one img{
        margin-block-end: 10px;
        width: 26px;
        height: 26px;
    }

    .the-gold-sbunser-page-one {
        flex-wrap: wrap;
    }

    .the-gold-sbunser-page-one div img{
        width: 30px;
        height: 29px;
    }

     .scohel-midia-icons div svg{
        width: 30px;
         
     }
     
     .info-in-the-footer p{
        font-size: 18px;
     }
     

     .the-rosh-aer h3{
        font-size: 30px;
        margin: 20px;
    }
    .the-rosh-aer p{
        font-size: 15px;
        margin: 20px;
    }
    .the-rosh-aer img{
        width: 150px;
        height: 120px;
        margin: 20px;
    }


    
    .adlat-page-two h3{
        font-size: 30px;
        margin: 20px;
    }
    
    .adlat-page-two p{
        font-size: 13px;
        margin: 20px;
    }
    
    .adlat-page-two img{
        width: 200px;
        height: 150px;
        margin: 20px;
    }


    #img-card-1 ,#img-card-2 ,#img-card-3{
        margin: 0 auto;
        width: 100px;
        height: auto;
    }


    #img-card-4 ,#img-card-5,#img-card-6,#img-card-7{
        margin: 0 auto;
        height: 80px;
        width: 100px;
    }
    

    #card-4 ,#card-5,#card-6,#card-7{
        width: 7rem !important;
    }
    #p-card-4,#p-card-5,#p-card-6,#p-card-7{
        font-size: 14px !important;
    }


    #right{
        width: 30px;
        height: 30px;
    }
    #left{
        width: 30px;
        height: 30px;
        left:10px;
    }

    #close{
        width: 30px;
        height: 30px;
    }
    
    #mainImg{
      
        max-width: 70vw;
        max-height: 60vh;
        width: 300px;
        height: 200px;
    
    }
    
    
    .imgs-in-midea{
        margin: 10px;
        width: 130px;
        height: 100px;
    }



    .videos-in-midea{  
        grid-template-columns: 1fr ;
    }
    
    
    .videos-in-midea h4{
      text-align: center;
        margin-block: 20px;
        font-family: $thePattyFont;
        font-size: 30px;
        font-weight: bold;
        color: #8CBF3F;
    }
    
    .videos-in-midea iframe{
        
        width: 250px;
        height: 200px;
        max-width: 70vw;
        max-height: 70vh;
    
    }
    
}